.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 2px;
  width: 100px;
  height: 10px;
  left: -45px;
  transform: skew(-12deg) translateX(-50%);
  background: #d3a1c4;
  z-index: -1;
}
